.container{
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 10px;
    padding: 2em 1.5em;
    box-shadow: 0px 0px 10px  #00000025;
}
.container_text{
    margin-bottom: .75em;
    font-weight: 700;
}