.container{
    margin-top: 1.5em;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    display:inline-block;
    border: 0;
    color:white;
    font-size: 1rem;
    background-color: rgb(118, 118, 255);
    border-radius: 5px;
    padding: .5em .5em;
}

.button:hover{
    background-color: rgb(146, 146, 255);
}

.button:active{
    background-color: rgb(102, 102, 255);
}