.container {
  background-color: #eaeaea74;
  overflow: hidden;
  border-radius: 10px;
  height: 18em;
  padding: .25em .5em;
}

.inner_container {
  overflow-y: auto;
  overflow-x:hidden;
  scrollbar-width: thin;
  border-radius: 10px;
  padding: 1.25em 1em;
  scrollbar-color: #d2d1d174 #eaeaea74;
  height: 18em;

}
